@media only screen and (max-width: 1000px) {

  h1 {
    padding-top: 6vh;
  }

  h2 {
    padding-top: 2vh;
    padding-bottom: 3vh;
  }

  .content {
    width: 80vw;
    left: 10vw;
  }

  .scriptcontainer {
    width: 100%;
    max-width: 76vw; // i don't even know
    left: 10vw;
  }

  form button {
    font-size: 1rem;
  }

  ul {
    padding-left: 8vw;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  form {
    font-size: 1rem;
  }
}
