@font-face {
  font-family: Roboto-Regular;
  src: url('Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-Thin;
  src: url('Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto-ThinItalic;
  src: url('Roboto-ThinItalic.ttf');
}

body {

}

form {
  font-family: Roboto-Regular;
}

body * {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-family: Roboto-Regular;
  padding-top: 4vh;
  padding-bottom: 2vh;
}

h2 {
  font-size: 1.2rem;
  font-family: Roboto-ThinItalic;
  padding-bottom: 1.5vh;
}

p {
  font-size: 1.2rem;
  font-family: Roboto-Regular;
  padding: 0.25vh;
  line-height: 1.5;
}

p:last-of-type {
  margin-bottom: 5vh;
}

li {
  line-height: 1.4;
}

ul  {
  padding-left: 2vw;
  font-size: 1.2rem;
  font-family: Roboto-Regular;
}

.bold {
  font-family: Roboto-Medium;
}

.italic {
  font-style: italic;
}

.content {
  font-size: 1.2rem;
  position: absolute;
  width: 50vw;
  left: 25vw;
  color: #444;
}

.content a, .content a:visited {
  color: #3498db;
  text-decoration: underline;
}


.line {
  padding-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.formcontainer {
  width: 92%;
  padding: 4%;
  background-color: #fafafa;
}

form label:not(:nth-of-type(1)) {
  padding-left: 1vw;
}

form input[type="text"] {
  margin-left: 1vw;
  width: 60%;
}

form button {
  width: 30%;
  font-size: 1.2rem;
  height: 2.5rem;
  margin-top: 1vh;
}

#download a , #download a:active, #download a:visited {
  color: inherit;
  text-decoration: none;
  width: 100%;
  display: block;
}


.scriptcontainer {
  width: 46vw;
  left: 25vw;
  padding: 2vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
  background-color: #fafafa;
  max-width: 46vw;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
}
